<table class="mb-5 table striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.name) {
            <tr (click)="selectUser(user)">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
        } @empty {
            <li>There are no users.</li>
        }
    </tbody>
</table>

@if (selectedUser) {
    <app-user-detail [user]="selectedUser"></app-user-detail>
}